<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script type='text/javascript' src='../lib/jquery-3.6.3.min.js'></script>
	<script type='text/javascript' src="../lib/Rrule_2.7.1/rrule.min.js"></script>
	<script type='text/javascript' src="../lib/FulCal_6.1.1/index.global.min.js"></script>
	<script type='text/javascript' src="../lib/FulCal_6.1.1/rrule/index.global.min.js"></script>
	<script type='text/javascript' src="../lib/JKanban_1.3.1/jkanban.min.js"></script>
	<script type='text/javascript' src="../lib/VanillaCal_2.2.5/vanilla-calendar.min.js"></script>
	<link rel='stylesheet' href="../lib/JKanban_1.3.1/jkanban.min.css">
	<link rel='stylesheet' href="../lib/VanillaCal_2.2.5/vanilla-calendar.min.css">
</head>
<body>
    <div id='Fcalendar'></div>
    <div id='Vcalendar'></div>
    <!-- 
    
     -->
    <div id='kanban'></div>
	<script type='text/javascript' src="../js/Fcalendar_load.js"></script>
	<script type='text/javascript' src="../js/Vcalendar_load.js"></script>
	<script type='text/javascript' src="../js/Kanban_load.js"></script>
</body>
</html>